<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode | default " en-us" }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- noindex meta -->
		{{ $default_noindex_kinds := slice "section" "taxonomy" "taxonomyTerm" }}
		{{ $noindex_kinds := .Site.Params.noindex_kinds | default $default_noindex_kinds }}
		{{ $is_noindex_true := and (isset .Params "noindex") .Params.noindex }}
		{{ if or (in $noindex_kinds .Kind) ($is_noindex_true) }}
		<meta name="robots" content="noindex">
		{{ end }}
		<title>{{ .Title }}</title>
		<meta name="description" content="{{ .Description }}">
		<meta property="og:description" content="{{ .Description }}">
		{{ with .Site.Params.author }}
		<meta name="author" content="{{ . }}">{{ end }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.min.css">
		<link rel="canonical" href="{{ .URL | relURL }}"> {{ if (isset .Params "prev") }}
		<link rel="prev" href="{{ .Params.prev }}"> {{ end }} {{ if (isset .Params "next") }}
		<link rel="next" href="{{ .Params.next }}"> {{ end }}
	</head>
	<body class="layout">
		{{ block "header" . }}{{ partial "header.html" . }}{{ end }}

		{{ block "main" . }}{{ end }}

		{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	</body>
</html>