<div class="page js-page">
  <div class="top-nav">
      <div class="container-fluid">
          <div class="row center-xs" id="Sebastian">
          <span class="link-copy"></span>
          <a href="{{ .Site.BaseURL }}">
              <img class="logo" src="{{ .Site.BaseURL }}/images/logo-sm.png" alt="Maxwell Janitorial, Klamath Falls, OR">
          </a>
            <nav class="menu menu--sebastian nav-collapse">
              <ul id="nav" class="menu__list">
                <li class="menu__item">
                  <a href="{{ .Site.BaseURL }}" class="menu__link">Home</a>
                </li>
                {{ range .Site.Menus.main }}
                <li class="menu__item"><a class="menu__link" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </nav>
          </div>
      </div>
  </div>